body{
    background-image: url(../exercicios/background_login.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size: large;
    
}

.login-container {
    background-color: white;
    border-radius: 2%;
    padding: 20px;
    text-align: center;
    margin-top: 322px;
    margin-left: 180px;
}
#register a{
    color: rgb(194, 92, 92);
    text-decoration: none;
}

input{
    text-align: center;
    padding: 8px 10px;
    width: 83%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px auto;
}

button {
    padding: 10px 20px;
    width: 180px;
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    text-decoration: none;
    
  }
  button:hover{
    background-color: rgb(136, 135, 135);
  }

