body{
    background-image: url(../exercicios/background_register.jpg);
    background-size: auto;
    box-sizing: border-box;
    display: flex;   
    justify-content: center;
    align-items: center;
}

#contenedor{        
    background-color: rgb(196, 144, 153);
    border-radius: 10px;
    margin-top: 20%;
    margin-left: 50px;
    padding: 10px;
    }
  
.container_section{
    margin-left: 0px;  
    margin-right: 22px;
    padding: 10px;
    margin-top: -24px;
    border-top: 1px;
    display: grid;
    grid-template-columns: 1fr  1fr;
    
     

  }

#direccion_container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 40px 17px;        
    margin-left: 20px;
         

  }
  #direccion_container input{
    background-color: rgb(255, 232, 232);
    width: 244px;
    height: 23px ;
    padding: 0px;
    
   
  }



.container_section input{
    width: 400px ;
    height: 23px;
    margin: 10px;
    border-left: 2px;
    background-color: rgb(255, 233, 233);   
    
}
#provincia, #pais{
    width: 248px;
    height: 25px;
    background-color: #ffeded;
    color: rgb(17, 17, 17);
    border: none;
    cursor: pointer;
    text-decoration: none;

}

h1, h2{
    margin-left: 15px;
    margin-top: 25px;
    padding: 0px;
}

button {
    padding: 10px 20px;
    width: 190px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#div_button{
    margin-left: 10px;
    margin-top: 8px;
    ;
}




